html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section {
    text-align: center;
}

.background-container {
    background: url('../images/IMG_1125.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.dropdown {
    display: none;
}

.navbar {
    background: transparent;
    border-bottom: 3px solid black;
    width: 100%;
    height: 8%;
    box-sizing: border-box;
    display: flex; /* Umożliwia elastyczne rozmieszczanie elementów */
    align-items: center; /* Wyrównanie w pionie */
    padding: 0 20px; /* Padding wewnętrzny, aby dodać trochę przestrzeni po bokach */
    justify-content: flex-end; /* Wyrównanie elementów na prawo */
    position: relative;
    z-index: 1000;
}

/* Stylizacja dla linków w navbarze */
.nav-links {
    margin-right: 20%;
    list-style: none; /* Usunięcie punktów listy */
    padding: 0; /* Usunięcie paddingu */
    display: flex; /* Umożliwia rozmieszczanie elementów w poziomie */
}

/* Stylizacja dla elementów listy w navbarze */
.nav-links li {
    margin-right: 10px; /* Margines po prawej stronie każdego linku */
    margin-left: 30px;
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
}

/* Stylizacja dla linków */
.nav-links a {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: black; /* Kolor tekstu */
    font-size: 16px; /* Rozmiar czcionki */
    transition: color 0.3s; /* Płynna zmiana koloru po najechaniu */
    font-weight: bold;
}

.nav-links a:hover {
    color: #007bff; /* Kolor tekstu linków po najechaniu */
}

.text-content {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 2%;
    text-align: center;
    color: white;
}

#names {
    font-size: 90px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0;
    color: black;
}

#date {
    margin-top: 5px;
    font-size: 32px;
    color: black;
}

.header {
    text-align: center;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 25px;
    color: black;
}

.sub-header {
    text-align: center;
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0;
    color: black;
}

.main-info {
    width: 15%;
    margin: 2% auto;
    font-size: 19px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.main-info {
    width: 15%;
    margin-bottom: 20px;
}

.info-field {
    display: flex;
    align-items: center;
    height: 60px;
}

.info-field.wedding {
    justify-content: center;
}

.info-field img {
    width: 25px;
}

#right {
    margin-left: 65px;
}

.icon {
    font-size: 25px !important;
}

.info-content {
    margin-left: 2%;
}

.group {
    display: flex;
    justify-content: left;
}

.main-info p {
    margin-left: 10px;
}

.description {
    width: 30%;
    line-height: 1.5;
    margin: 1% auto;
    font-family: 'Times New Roman', Times, serif;
}

.map {
    display: block;
    width: 60%;
    margin: 2% auto;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

.playlist {
    width: 60%;
    height: 352px;
    border-radius: 12px;
}

.bi-chevron-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: black;
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .text-content {
        top: 5%;
    }

    #names {
        font-size: 50px;
    }

    #date {
        font-size: 24px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: auto;
        margin-right: 5vw;
        z-index: 2000;
    }

    .hamburger-menu .line {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 3px 0;
    }

    .navbar {
        padding: 0;
    }

    .navbar .nav-links {
        display: none;
    }

    .dropdown {
        display: none;
        background: grey;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .dropdown .nav-links {
        flex-direction: column;
        width: 100%;
        margin: 0 0 0 auto;
    }

    .dropdown.open {
        display: flex;
    }

    .nav-links li{
        margin-left: 0;
        margin-right: 0;
        padding-top: 15px;
        padding-left: 15px;
    }

    .nav-links li.section {
        border-bottom: 2px black solid;
    }

    .nav-links li.exit-sign {
        padding: 0;
        margin-left: auto;
        margin-right: 15px;
        height: 30px;
    }

    .cross-sign {
        color: white;
        font-size: 30pt;
    }

    .main-info {
        width: 80%;
    }

    .description {
        font-size: 14px;
        width: 70%;
    }

    .playlist {
        width: 100%;
        height: 370px;
        border-radius: 12px;
    }

    .info-field {
        margin: 0 auto;
    }

    .map {
        width: 100%;
    }
}