body {
    margin: 0;
}

.background-container {
    background: url('../images/IMG_1125.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/* Stylizacja dla navbaru */
.navbar {
    background: transparent;
    border-bottom: 3px solid black;
    width: 100%;
    height: 8%;
    box-sizing: border-box;
    display: flex; /* Umożliwia elastyczne rozmieszczanie elementów */
    align-items: center; /* Wyrównanie w pionie */
    padding: 0 20px; /* Padding wewnętrzny, aby dodać trochę przestrzeni po bokach */
    justify-content: flex-end; /* Wyrównanie elementów na prawo */
}

/* Stylizacja dla linków w navbarze */
.nav-links {
    margin-right: 20%;
    list-style: none; /* Usunięcie punktów listy */
    padding: 0; /* Usunięcie paddingu */
    display: flex; /* Umożliwia rozmieszczanie elementów w poziomie */
}

/* Stylizacja dla elementów listy w navbarze */
.nav-links li {
    margin-right: 10px; /* Margines po prawej stronie każdego linku */
    margin-left: 30px;
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
}

/* Stylizacja dla linków */
.nav-links a {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: black; /* Kolor tekstu */
    font-size: 16px; /* Rozmiar czcionki */
    transition: color 0.3s; /* Płynna zmiana koloru po najechaniu */
    font-weight: bold;
}

.nav-links a:hover {
    color: #007bff; /* Kolor tekstu linków po najechaniu */
}

.text-content {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 3%;
    text-align: center;
    color: white;
}

#names {
    font-size: 90px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0;
    color: black;
}

#date {
    margin-top: 5px;
    font-size: 32px;
    color: black;
}

@media only screen and (max-width: 600px) {
    #names {
        font-size: 60px;
        color: white;
    }

    #date {
        font-size: 24px;
    }
}